<div class="container my-5">
    <div class="row">
      <div class="col-md-6">
        <img [src]="produitCourent.imageUrl" class="img-fluid rounded-3" alt="Image du produit">
      </div>
      <div class="col-md-6 shadow rounded-3 px-4">
        <h2 class="mt-2 productTitle"> {{ produitCourent.nom }}</h2>
        <h5 class="fw-bold">{{ produitCourent.description }}</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum nemo optio iusto, possimus delectus aliquid harum quod alias ipsum, at incidunt illo, iure blanditiis sunt aut dignissimos officiis consectetur voluptates?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum nemo optio iusto, possimus delectus aliquid harum quod alias ipsum, at incidunt illo, iure blanditiis sunt aut dignissimos officiis consectetur voluptates?</p>
        <p class="price productTitle">Prix : {{ produitCourent.prix }}</p>
      </div>
    </div>
</div>
